@font-face {
    font-family: Montserrat_Regular;
    src: url("Montserrat-Regular.ttf");
}


#ticketIdLabel,
#movieNameLabel,
#totalPriceLabel,
#seatsLabel,
#showtimeLabel,
#bookingDateLabel,
#statusLabel,
#userNameLabel,
#userEmailLabel{
	-fx-font-family: Montserrat;
	-fx-font-size: 16px;
	-fx-padding: 10px;
}
